@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl
}

h2 {
  @apply text-xl
}

.switcher-btn {
  @apply text-slate-600 border-slate-600 border-2 hover:bg-blue-50 px-6 py-3 rounded flex gap-1 items-center justify-center w-40 max-w-full font-bold text-sm;
}

.action-btn {
  @apply px-10 max-w-full py-3 text-center sm:w-fit bg-blue-600 hover:bg-blue-700 w-60 rounded text-white text-base font-bold;
}

label {
  @apply my-2 flex flex-col flex-wrap text-xs capitalize font-extrabold text-slate-900 max-w-[70vw]
}

input[type=text], input[type=email], input[type=url] {
  @apply font-normal w-[250px] max-w-full text-base border border-gray-300 rounded p-1 hover:border-sky-900 focus:border-sky-900 focus:outline-none;
}

input[type=date] {
  @apply text-zinc-600 font-normal w-fit max-w-full text-base border-b-2 border-zinc-200 hover:border-sky-900 focus:border-sky-900 focus:outline-none;
}

textarea {
  @apply font-normal resize-y h-40 text-sm border-2 rounded-md border-zinc-200 hover:border-sky-900 focus:border-sky-900 outline-none focus:outline-none;
}
  
.resume-section {
  @apply uppercase font-light text-sm;
}

.close-btn {
  @apply absolute m-4 right-0 top-0;
}

.divider {
  @apply w-full border-gray-100;
}

.empty-section-text {
  @apply text-sm font-light
}

.section-part-btn {
  @apply text-white bg-orange-700 hover:bg-orange-800 px-6 py-2 mt-2 rounded-full flex gap-1 items-center justify-center w-fit font-bold text-sm;
}

.section-add-btn {
  @apply flex flex-wrap gap-2 items-center justify-center mr-auto text-sm;
}

.error-container {
  @apply flex items-center justify-center w-fit h-fit text-red-600 text-xs font-semibold lowercase gap-1 p-1 rounded-md border border-red-600;
}

.input-field {
  border: 1px solid #d1d5db; /* Tailwind's border-gray-300 */
  padding: 0.5rem;
  border-radius: 0.375rem; /* Tailwind's rounded-md */
  width: 100%;
}
